@media screen and (max-width: 1550px) {
    .wave{
        right: 0;
    }
    .main-section-cont{
        width: 50%;
    }
    .main-section-laptop{
        right: 0;
        top: 130px;
    }
    .main-section-monitor{
        right: 0;
        bottom: 36px;
    }
    .main-section-wrp{
        width: 95%;
    }
}
@media screen and (max-width: 1512px) {
    .main-section-laptop{
        top: 100px;
    }
    .main-section-monitor{
        bottom: 0;
    }
    h1{
        line-height: 80px;
        font-size: 90px;
        padding-top: 100px;
    }
    .main-section h2{
        font-size: 20px;
    }
    .text-main-section-wrp{
        width: 40%;
    }
    .main-section-cont{
        margin-top: -164px;
    }
    .sale-cont{
        width: 242px;
    }
    .sale-cont img{
        transform: scale(0.8);
        left: 0;
    }
    .sale-text{
        font-size: 17px;
    }
    .end-timer{
        font-size: 17px;
    }
    #demo{
        font-size: 27px;
    }
    .timer-wrp ul li{
        font-size: 9px;
        margin-top: 0px;
    }
    .timer-wrp ul li:nth-child(2){
        margin-left: 31px;
        margin-right: 26px;
    }
    .text-main-triangle{
        right: -20%;
    }
    .devices{
        margin-top: -223px;
    }
    .about-section-cont-wrp{
        width: 90%;
    }
    .work-cont-wrp{
        width: 90%;
        margin: 0 auto;
        margin-top: 56px;
        align-items: flex-start;
    }
    .work-slide-wrp .slick-slide img{
        width: 100%;
    }
    .work-text-wrp{
        margin-right: 58px;
    }
    .bid-sec{
        width: 90%;
    }
    .consult{
        width: 500px;
    }
}
@media screen and (max-width: 1400px) {
    .main-section-des:last-child{
        display: none;
    }
    .devices-list:after {
        content:'';
        width:100%;
        order:0;
    }  
    .devices-list{
        flex-wrap: wrap;
        margin-top: 48px;
        margin: 0 auto;
        justify-content: center;
    }
    .devices-list__item-adapt{
        margin-left: 0;
    }
    .devices-list__item{
        margin-top: 100px;
    }
    .devices-list__item.devices-list__item-adapt,
    .devices-list__item.devices-list__item-adapt ~ .devices-list__item {
    order:1;
    }
    .devices-cont-wrp h2{
        display: none;
    }
    .devices .adapt-devices{
        display: block;
        text-align: center;
        width: 87%;
        margin: 0 auto;
        text-align: left;
        font-size: 60px;
        line-height: 60px;
    }
}
@media screen and (max-width: 1310px) {
    .work-slide-wrp{
        width: 50%;
    }
    .work-text-wrp{
        width: 40%;
    }
}
@media screen and (max-width: 1300px) {
    .about-section-cont-wrp h2{
        font-size: 70px;
        line-height: 70px;
    }
    .about-section-cont-wrp h5{
        font-size: 19px;
        line-height: 25px;
    }
    .about-section-cont-wrp .video-but{
        margin-top: 42px;
    }
    .about-section-block-2 h6{
        font-size: 18px;
        margin-top: 15px;
    }
    .about-section-block-2 p{
        margin-top: 10px;       
        font-size: 15px;
    }
    .about-section-block{
        margin-right: 45px;
    }
    .about-section-block-2-cont-wrp li:last-child{
        margin-left: 40px;
        width: 100%;
    }
    .slide-rewiev-img{
        border-radius: 15px;
        object-fit: cover;
    }
    .reviews-section{
        width: 95%;
    }
    .reviews-section h3{
        font-size: 40px;
    }
    .orders-section-wrp{
        margin-top: 40px;
    }
    .orders-section-dec{
        margin-left: 32px;
    }
    .slider-orders .slider-reviews-item img{
        width: 95%;
        margin: 0 auto;
    }
    .arron-wrp{
        display: block;
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .arron-wrp-text{
        max-width: 10000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
    }
    .orders-dec-wrp{
        display: none;
    }
    .arron-wrp-li{
        justify-content: space-between;
    }
    .arron-wrp p{
        max-width: 650px;
    }
    .arron-wrp .consult-btn-wrp{
        padding-bottom: 0;
        padding-top: 0;
        width: 284px;
        height: 64px;
        margin-top: 0;
    }
    .bid-sec h3{
        margin-right: 37px;
    }
    .adress{
        width: 90%;
    }
    .adress li{
        display: block;
    }
    .adress li img{
        margin: 0 auto;
        display: block;
        margin-bottom: 16px;
    }
    .adress li p{
        text-align: center;
    }
    .adress li span{
        display: none;
    }
}   
@media screen and (max-width: 1250px) {
    .burger{
        width: 48px;
        height: 48px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
        border-radius: 15px;
    }
    .burger-wrp{
        z-index: 10000;
        margin-left: 50px;
        position: relative;
    }
    .blur{
        filter: blur(4px);
    }
    .burger__line{
        display: block;
        width: 18px;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 50%;
        margin-left: -9px;
        transition: .3s all linear;
    }
    .burger_active .burger__line_first, .burger_active .burger__line_fourth{
        opacity: 0;
    }
    .burger_active .burger__line_third{
        transform: translateY(-50%) rotate(-45deg);
    }
    .burger_active .burger__line_second{
        transform: translateY(-50%) rotate(45deg);
    }
    .burger__line_first{
        top: 18px;
    }
    .burger__line_second, .burger__line_third{
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line_fourth{
        bottom: 18px;
    }
    .nav-menu{
        justify-content: center;
        background: #F4F9FC;
        max-width: 400px;
        bottom: 0;
        margin-left: 0;
        flex-direction: column;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: 1000;
        position: fixed;
        opacity: 0;
        transition: 0.35s all;
        top: 0;
        height: 100vh;
        display: none;
    }
    .opacity{
        display: flex;
        opacity: 1;
    }
    .nav-menu li:first-child{
        margin-left: 24px;
    }
    .nav-menu li{
        margin-bottom: 24px;
    }
    .nav-menu a{
        height: auto;
    }
    .nav-menu a::after{
        display: none;
    }
    .header-logo{
        z-index: 10000;
    }
}
@media screen and (max-width: 1150px) {
    h1{
        line-height: 64px;
        font-size: 70px;
    }
    .main-section h2{
        font-size: 18px;
    }
    .main-section-cont{
        width: 100%;
    }
    .sale-cont img{
        transform: scale(0.75);
    }
    .sale-text{
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .timer-wrp{
        margin-top: 15px;
    }
    .end-timer {
        font-size: 15px;
    }
    #demo {
        font-size: 25px;
    }
    .timer-wrp ul li:nth-child(2) {
        margin-left: 24px;
        margin-right: 25px;
    }
    .timer-wrp ul{
        padding-bottom: 10px;
    }
    .sale-wrp{
        bottom: 31%;
    }
    .bid-sec{
        display: block;
    }
    .consult{
        display: flex;
    }
    .bid-sale{
        right: 0;
        left: auto;
    }
    .bid-sec form{
        width: 90%;
        margin: 0 auto;
    }
    .bid-sec h3{
        margin-right: 0;
        margin-left: 51px;
        margin-bottom: 40px ;
    }
    .adress{
        margin-top: 40px;
    }
    .main-section-des{
        bottom: 220px;
    }
    .main-section-des-2{
        bottom: 260px;
    }
}
@media screen and (max-width: 1010px) {
    .text-main-triangle {
        right: -32%;
    }
    .sale-wrp {
        bottom: 28%;
    }
    .about-section-cont-wrp{
        display: block;
    }
    .about-section-block{
        max-width: 10000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }
    .about-section-cont-wrp .video-but{
        margin-top: 0;
    }
    .about-section-cont-wrp h5 {
        font-size: 17px;
        line-height: 20px;
    }
    .about-section-cont-wrp h2 {
        font-size: 60px;
        line-height: 60px;
        display: flex;
        align-items: center;
    }
    .about-section-cont-wrp h2 img{
        margin-left: 10px;
        margin-bottom: 0;
    }
    .slide-rewiev-img{
        margin: 0 auto;
        width: 95%;
    }
    .slider-caret-wrp{
        top: 50%;
        left: 50%;
    }
    .work-slide-wrp {
        width: 50%;
    }
    .bid-sale{
        margin-right: -186px;
        right: 50%;
    }
    .bid-sec h3{
        margin-bottom: 30px;
        margin-top: 50px;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .bid-sec input[type="submit"]{
        margin: 0 auto;
        display: block;
    }
    .bid-sec input[type=text], .bid-sec input[type=tel]{
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 820px) {
    .about-section-cont-wrp h2{
        font-size: 40px;
    }
    .about-section-cont-wrp h2 img{
        transform: scale(0.85);
    }
    .about-section-cont-wrp h5{
        font-size: 18px;
        width: 65%;
        margin-top: 8px;
    }
    /**/
    .about-section-block{
        display: block;
    }
    .about-section-cont-wrp h2{
        flex-direction: column;
    }
    .about-section-cont-wrp h2 img{
        order: -1;
    }
    .about-section-cont-wrp h5{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    .about-section-cont-wrp .video-but{
        margin: 0 auto;
    }
    .about-section-block-2 .about-section-block-2-cont-wrp{
        display: block;
    }
    .about-section-block-2-cont-wrp li{
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .about-section-block{
        margin-right: 0;
    }
    .about-section-block-2-cont-wrp li:last-child{
        margin-left: auto;
    }
    .orders-section-dec{
        transform: scale(0.85);
    }
    .arron-wrp{
        margin-top: 80px;
    }
    .arron-wrp h3{
        font-size: 40px;
        line-height: 40px;
    }
    .arron-wrp p{
        font-size: 18px;
        max-width: 400px;
        margin-top: 16px;
    }
    .arron-wrp ul{
        max-width: 300px;
    }
    .arrow-work{
        display: none;
    }
    .work-slide-wrp .slick-slide img{
        border-radius: 15px;
        width: 100%;
        height: 382px;
        object-fit: cover;
    }
    .cit-wrp{
        width: 90%;
    }
    .bid-sec input[type="text"], .bid-sec input[type="tel"]{
        width: 100%;
    }
    .bid-sec{
        margin-top: 90px;
    }
    .consult{
        margin-top: -223px;
    }
    .adress ul{
        display: block;
    }
    .adress li{
        margin-bottom: 20px;
        margin-left: 0;
    }
    .main-section{
        flex-direction: column;
    }
    .text-main-section-wrp{
        order: 2;
        width: 85%;
        margin: 0 auto;
        text-align: center;
        margin-top: -165px;
    }
    h1{
        padding-top: 0;
    }
    .text-main-triangle{
        display: none;
    }
    .main-section h2{
        max-width: 100000px;
    }
    .consult-btn-wrp{
        margin: 0 auto;
        margin-top: 30px;
    }
    .main-section-cont{
        width: 85%;
        margin: 0 auto;
        margin-top: -73px;
    }
    .main-section{
        position: relative;
    }
    .main-section-cont{
        position: initial;
    }
    .sale-wrp{
        bottom: -320px;
        width: 100%;
    }
    .sale-cont{
        width: 100%;
    }
    .sale-cont img{
        top: 50%;
        margin-top: -65px;
    }
    .sale-content{
        margin: 0 auto;
        margin-left: 200px;
        max-width: 60%;
    }
    .devices{
        margin-top: 280px;
    }
    hr{
        display: none;
    }
    .main-section-des-2{
        bottom: 353px;
    }
    .main-section-des{
        bottom: 359px;
    }
}
@media screen and (max-width: 730px) {
    .main-section-cont{
        height: 700px;
    }
    .sale-wrp{
        bottom: -250px;
    }
    .devices .adapt-devices{
        font-size: 50px;
        line-height: 50px;
    }
    .devices-cont-wrp{
        display: none;
    }
    .devices-cont-wrp-adapt{
        display: block;
    }
    .devices-cont-wrp:last-child .devices-list__item:first-child h5{
        margin-top: -11px;
    }
    .devices-cont-wrp:last-child .devices-list__item:nth-child(1) h5{
        margin-top: 24px;
    }
    .devices-cont-wrp:last-child .devices-list__item:nth-child(3) h5{
        margin-top: -25px;
    }
    .devices-cont-wrp:last-child .devices-list__item:nth-child(4) h5{
        margin-top: 2px;
    }
    .devices-cont-wrp:last-child .devices-list__item:nth-child(5) h5{
        margin-top: 46px;
    }
    .devices-cont-wrp:last-child .devices-list__item:nth-child(6) h5{
        margin-top: -2px;
    }
    .work-cont-wrp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .work-text-wrp{
        width: 90%;
        order: 2;
        margin: 0 auto;
    }
    .work-slide-wrp{
        width: 100%;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 700px){
    .devices-list{
        flex-wrap: nowrap;
    }
    .header-nav-container{
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }
    .nav-phone-adapt{
        display: block;
    }
    .nav-phone{
        display: none;
    }
    .nav-phone-ap{
        display: flex;
    }
    .nav-menu{
        max-width: 10000px;
        width: 100vw;
    }
    .nav-menu li{
        margin-bottom: 30px;
    }
    .sep{
        display: none;
    }
    .nav-menu li{
        margin-bottom: 30px;
    }
    .nav-menu-first{
        margin-top: 80px;
    }
    .nav-phone-ap li{
        margin-bottom: 0;
        margin-top: 0;
    }
    .nav-phone-ap li:first-child{
        margin-left: 0  ;
    }
    .nav-phone-ap{
        justify-content: space-between;
        width: 96%;
    }
    .nav-phone-ap li p:first-child{
        margin-bottom: 8px;
    }
}
@media screen and (max-width: 624px) {
    .reviews-section h3{
        font-size: 26px;
        line-height: 26px;
    }
    .arron-wrp-text .consult-btn-wrp a{
        font-size: 13px;
    }
    .work h5{
        text-align: left;
        padding-top: 20px;
        font-size: 20px;
        line-height: 23px;
    }
    .cit-wrp img:last-child{
        display: none;
    }
    .work-cont-wrp{
        flex-direction: column;
    }
    .work-text-wrp{
        order: 2;
    }
    .work-text-wrp img{
        display: none;
    }
    .work-slide-wrp{
        width: 100%;
        margin-bottom: 40px;
    }
    .work-dsc{
        bottom: -220px;
        right: 0;
    }
    .work-slide-wrp .slick-slide img{
        height: auto;
    }
    .main-section-cont{
        height: 600px;
    }
    .devices{
        margin-top: 300px;
    }
    .devices-list__item{
        height: 400px;
    }
    .devices-list__item a:first-child{
        display: block;
        height: 400px;
    }
    .arrow-devixe-wrp1{
        right: 52px;
        bottom: 24px;
    }
    .clock-dots{
        top: 102px;
    }
    .pad-desc{
        bottom: 130px;
        right: 38px;
    }
    .pad-desc-2{
        top: 19px;
        left: 70px;
    }
    .andr-dots{
        top: 36px;
    }
    .device-logo-wrp{
        right: 60px;
        top: 99px;
        width: 86px;
        height: 86px;
    }
    .clock-desc{
        right: 25px;
    }
    .note-desc-2{
        right: 4px;
    }
    .pc-desc-2{
        right: 32px;
    }
    .content-background{
        margin-top: -105px;
        top: 50%;
        width: 297px;
        height: 250px;
    }
    .product-img{
        height: auto;
        margin-left: 15%;
        margin-top: 21px;
    }
    .devices-list__item h5{
        font-size: 20px;
    }
}
@media screen and (max-width: 524px) {
    .reviews-section h3{
        text-align: center;
        width: 100%;
    }
    .arrows-reviews{
        display: none;
    }
    .reviews-section-heading-wrp{
        margin-bottom: 37px;
    }
    .reviews-section{
        width: 100%;
    }
    .arrows-orders{
        display: none;
    }
    .orders-section-dec{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
    .orders-section-wrp{
        padding-top: 25px;
    }
    .arron-wrp{
        margin-top: 60px;
    }
    .arron-wrp-text{
        text-align: center;
    }
    .arron-wrp p{
        max-width: 1000px;
    }
    .arron-wrp .consult-btn-wrp{
        display: none;
    }
    .arron-wrp-li{
        display: block;
        margin-top: 16px;
    }
    .arron-wrp ul{
        max-width: 1000px;
        margin: 0;
    }
    .consult-btn-wrp-adapt{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    .bid-sec h3{
        width: 98%;
        font-size: 35px;
        line-height: 35px;
    }
    .orders-section-dec{
        display: none;
    }
    .orders-section-wrp h3{
        justify-content: center;
    }
    .consult{
        margin-top: -147px;
        margin-left: -150px;
        width: 300px;
        height: 294px;
    }
    .consult h4{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
    }
    .consult input[type="text"], .consult input[type="tel"]{
        height: 48px;
    }
    .consult input[type="submit"]{
        padding: 0;
        width: 260px;
        height: 48px;
    }
    .succses{
        width: 300px;
        height: 294px;
        margin-top: -147px;
        margin-left: -150px;
    }
    .succses-img{
        margin-top: 0;
        transform: scale(0.8);
    }
    .succses h4{
        font-size: 20px;
        line-height: 20px;
    }
    .succses p{
        font-size: 16px;
        line-height: 22px;
    }
}
@media screen and (max-width: 500px) {
    .consult-btn-wrp{
        max-width: auto;
    }
    .main-section-cont {
        height: 500px;
    }
    .sale-wrp {
        bottom: -312px;
    }
    .sale-cont{
        padding-top: 115px;
    }
    .sale-cont img{
        left: 50%;
        margin-left: -88px;
        top: 17px;
    }
    .sale-content{
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    #demo{
        display: inline;
        text-align: center;
    }
    .timer-wrp ul{
        justify-content: center;
    }
    .sale-cont img{
        top: 77px;
    }
    .main-section-cont {
        height: 450px;
    }
    h1{
        font-size: 40px;
        line-height: 37px;
    }
    .main-section h2{
        font-size: 14px;
    }
    .main-section-cont{
        height: 450px;
    }
    .main-section-des {
        bottom: 259px;
        transform: scale(0.8);
        left: 0;
    }
    .main-section-des-2 {
        transform: scale(0.8);
        bottom: 253px;
    }
    .timer-wrp ul li:nth-child(2){
        margin-left: 20px;
        margin-right: 20px;
    }
    .devices-list__item{
        margin-top: 0;
    }
}
@media screen and (max-width: 450px) {
    .devices-list__item{
        transform: scale(0.9);
    }
    .arrow-devixe-wrp1{
        right: 14px;
    }
    .device-logo-wrp{
        right: 0;
    }
    .devices-list__item:hover{
        transform: scale(1);
    }
}
@media screen and (max-width: 390px ) {
    .devices-list__item{
        transform: scale(0.8);
    }
    .arrow-devixe-wrp1{
        right: -19%;
    }
    .devices-list__item:hover{
        transform: scale(0.9);
    }
    .header-logo{
        opacity: 0;
        transition: 0.35s all;
    }
    .head-disp{
        opacity: 1;
    }
    .burger-wrp{
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sticky{
        left: 0;
    }
}