@font-face{
    font-family:"Gilroy-Semibold";
    src:url("../font/Gilroy-Semibold.eot");
    src: url('../font/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/Gilroy-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/Gilroy-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/Gilroy-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family:"Gilroy-Medium";
    src:url("../font/Gilroy-Medium.eot");
    src: url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/Gilroy-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/Gilroy-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/Gilroy-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family:"Bebas-Bold";
    src: url('../font/BebasNeue-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family:"Gilroy-Regular";
    src: url('../font/Gilroy-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family:"Montserrat-SemiBold";
    src: url('../font/Montserrat-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: "Montserrat-Regular";
    src: url('../font/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face{
    font-family: "Montserrat-Medium";
    src: url('../font/Montserrat-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
    	padding: 0;
	
}
html {
    scroll-behavior: smooth; 
}
body{
    overflow-x: hidden;
}
li{
    list-style-type: none; 
}
a{ 
    text-decoration: none; 
} 
/* Start header section */
.sticky{
    background: #fff;
    box-shadow: 0px 5px 20px #CDDAE1;
    z-index: 2000;
    margin-top: 0;
    position: fixed;
    top: 0;
}

header{
    margin-top: 20px;
    padding-top: 5px;
    transition: 0.15s all;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1860px;
    width: 97%  ;
    margin: 0 auto;
    color: #13171D;
    font-family: "Gilroy-Semibold";
}
.nav-menu{
    display: flex;
    margin-left: 80px;
}

.nav-menu a{
    color: #13171D;
    font-size: 16px;
    position: relative;
    transition: 0.25s all;
    height: 107px;
    display: flex;
    align-items: center;
}
.nav-menu a::after{
    display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #E2001A; /*задаём цвет линии*/
	content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
    bottom: 0;
}
.nav-menu a:hover:after,
.nav-menu a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.nav-menu a:hover{
    color: #E2001A;
}
.nav-menu li{
    margin-left: 24px;
}
.nav-menu li:first-child{
    margin-left: 0;
}
.header-nav div:first-child{
    display: flex;
    align-items: center;
}
.nav-phone{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.sep{
    margin-left: 16px;
    margin-right: 16px;
    color: #C3C7C9;
}
.nav-phone li:last-child{
    margin-left: 35px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(226, 0, 26, 0.1);
    border-radius: 15px;
    transition: all 0.25s;
    cursor: pointer;
}
.nav-phone li:last-child:hover{
    background: rgba(226, 0, 26, 0.2);
}
.nav-phone li:last-child img{
    height: 16px;
    width: 16px;
}
.main-section-cont{
    width: 765px;
    height: 850px;
    background-image: url("../img/header-img-1.png");
    margin-top: -65px;
    position: relative;
    z-index: -1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-section-ic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
}
.main-section-gear{
    width: 85px;
    height: 85px;
    top: 102px;
    left: 137px;
}
.main-section-laptop{
    width: 51px;
    height: 51px;
    right: 12%;
    top: 122px;
}
.main-section-phone{
    width: 73px;
    height: 73px;
    bottom: 143px;
    left: 25px;
}
.main-section-monitor{
    width: 59px;
    height: 59px;
    right: 3%;
    bottom: 83px;
}
.sale-text{
    font-family: "Gilroy-Regular";
    font-size: 20px;
    line-height: 26px;
    color: #13171D;
    margin-bottom: 20px;
}
.sale-cont{
    padding-top: 69px;
    padding-bottom: 30px;
    width: 265px;
    background: #FFFFFF;
    box-shadow: 0px 71px 80px rgba(255, 107, 0, 0.11), 0px 21.4044px 24.1177px rgba(255, 107, 0, 0.0716748), 0px 8.8903px 10.0172px rgba(255, 107, 0, 0.055), 0px 3.21545px 3.62304px rgba(255, 107, 0, 0.0383252);
    border-radius: 30px;
}
.sale-content{
    width: 80%;
    margin: 0 auto;
}
.sale-cont img{
    position: absolute;
    left: 25px;
    top: -33px;
    filter: drop-shadow(0px 100px 80px rgba(255, 107, 0, 0.17));
}
hr{
    border: 0.5px solid #13171D;  
    opacity: 0.1;
}
.sale-wrp{
    position: absolute;
    bottom: 25%;
    right: 0;
}
.timer-wrp{
    margin-top: 22px;
}
.end-timer{
    color: #13171D;
    opacity: 0.5;
    font-size: 20px;
    line-height: 24px;
    font-family:"Gilroy-Semibold";
}
#demo{
    font-family:"Gilroy-Semibold";
    color: #13171D;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.timer-wrp ul{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.timer-wrp ul li{
    font-size: 11px;
    font-family:"Gilroy-Semibold";
    line-height: 13px;
    color: #13171D;
    opacity: 0.5;
    margin-top: 5px;
}
.timer-wrp ul li:nth-child(2){
    margin-left: 34px;
    margin-right: 31px;
}
/* End header section */

h1{
    font-family: "Bebas-Bold";
    color: #13171D;
    font-size: 110px;
    max-width: 625px;
    line-height: 100px;
    padding-top: 138px;
    position: relative;
}
.text-main-triangle{
    position: absolute;
    right: -40px;
    top: 43%;
}
.main-section{
    font-family: "Gilroy-Medium";
    max-width: 1298px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.main-section h2{
    color: #444444;
    font-size: 24px;
    margin-top: 20px;
    max-width: 418px;
    margin-top: 20px;
    font-family: "Gilroy-Regular";
}
.consult-btn-wrp{
    font-family: "Montserrat-SemiBold";
    border-radius: 15px;
    background-color: #E2001A;
    max-width: 284px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    transition: 0.25s all;
    cursor: pointer;
}
.consult-btn-wrp:hover{
    background-color: #FC142F;
}
.consult-btn-wrp a{
    color: #fff;
    line-height: 20px;
}
.main-section-cont{
    max-width: 765px;
}

/*devices section start*/
.devices h2{
    font-family: "Bebas-Bold";
    color: #13171D;
    font-size: 80px;
    line-height: 84px;
    margin-right: 193px;
    margin-top: 135px;
}
.devices{
    max-width: 1298px;
    margin: 0 auto;
    margin-top: -97px;
}
.devices-list{
    font-family: "Gilroy-Semibold";
    color: #13171D;
    font-size: 22px;
    margin-top: 100px;
    display: flex;
}
.content-background{
    display: block;
    position: relative;
    box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08);
    border-radius: 30px;
    background: #fff;
    width: 302px;
    height: 310px;
    transform-origin: 50%;
    transform: perspective(500px) rotateY(-13deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.devices-list__item{
    position: relative;
    width: 302px;
    margin-left: 30px;
    transition: 0.25s all;
}
.devices-list__item a{
    transition: 0.25s all;
    color: #13171D;
}
.devices-list__item:hover{
    transform: scale(1.1);
}
.devices-list__item:first-child{
    margin-left: 0;
}
.device-logo-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 27px;
    top: 78px;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
}
.iphone-dots{
    position: absolute;
    top: 35px;
    left: 30px;
    z-index: -1;
}
.product-img{
    margin-left: 51px;
    margin-top: -25px;
}
.devices-list__item h5{
    margin-top: 18px;
    margin-left: 58px;
}
.arrow-devixe-wrp1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
    position: absolute;
    right: 20px;
    bottom: -80px;
    transition: 00.25s all;
}
.arrow-devixe-wrp1:hover .arrow-devixe-wrp2{
    width: 64px;
    height: 64px;
}
.arrow-devixe-wrp2{
    transition: 00.25s all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
}
.devices-cont-wrp{
    display: flex;
    align-items: center;
}
.andr-dots{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 38px;
}
.devices-cont-wrp-pd{
    margin-top: 50px;
}
.devices-cont-wrp-pd .arrow-devixe-wrp1{
    bottom: -68px;
}
.devices-cont-wrp-pd .devices-list__item:first-child h5{
    margin-top: -11px;
}
.devices-cont-wrp-pd .devices-list__item:nth-child(2) h5{
    margin-top: 19px;
}
.devices-cont-wrp-pd .devices-list__item:nth-child(3) h5{
    margin-top: 46px;
}
.devices-cont-wrp-pd .devices-list__item:nth-child(4) h5{
    margin-top: -2px;
}
.clock-dots{
    position: absolute;
    z-index: -1;
    top: 16px;
    left: 60px;
}
.note-desc{
    position: absolute;
    z-index: -1;
    top: 38px;
    left: 54px;
}
.note-desc-2{
    position: absolute;
    z-index: -1;
    top: 107px;
    right: -13px;
}
.pc-desc{
    position: absolute;
    z-index: -1;
    top: 80px;
    left: 73px;
}
.pc-desc-2{
    position: absolute;
    z-index: -1;
    top: 91px;
    right: -1px;
}
.clock-desc{
    position: absolute;
    z-index: -1;
    top: 122px;
    right: 4px;
}
.pad-desc{
    position: absolute;
    z-index: -1;
    bottom: 41px;
    right: 1px;
}
.pad-desc-2{
    position: absolute;
    z-index: -1;
    top: 16px;
    left: 46px;
}
.main-section-wrp{
    position: relative;
    padding-bottom: 73px;
    margin: 0 auto;
    width: 81%;
    margin: 0 auto;
    max-width: 1721px;
    margin-top: 122px;
}
.main-section-des-2{
    position: absolute;
    bottom: 37px;
    right: 0;
    z-index: -1;
}
.main-section-des{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

/* About section */
.about-section{
    margin-top: 147px;
    padding-top: 80px;
    background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}
.about-section-block{
    max-width: 345px;
    margin-right: 110px;
}
.about-section-cont-wrp{
    max-width: 1298px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.wave{
    position: absolute;
    bottom: 63px;
    right: -149px;
    z-index: -1;  
}
.about-section-cont-wrp h2{
    font-family: "Bebas-Bold";
    font-size: 80px;
    line-height: 80px;
    color: #13171D;
}
.about-section-cont-wrp h2 img{
    margin-left: 63px;
    margin-bottom: 22px;
}
.about-section-cont-wrp h5{
    color: #444444;
    font-family: "Gilroy-Regular";
    font-size: 24px;
    line-height: 34px;
    margin-top: 24px;
}
.about-section-cont-wrp .video-but{
    display: block;
    width: 182px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E2001A;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: "Montserrat-SemiBold";
    margin-top: 64px;
    transition: 0.25s all;
}
.about-section-cont-wrp .video-but:hover{
    background-color: #FC142F;
}
.about-section-cont-wrp .video-but img{
    margin-left: 16px;
}
.about-section-block-2 h6{
    color: #13171D;
    font-family: "Gilroy-Semibold";
    font-size: 20px;
    margin-top: 24px;
}
.about-section-block-2 li{
    transition: 0.25s all;
}
.about-section-block-2 li:hover{
    transform: scale(1.1);
}
.about-section-cont-wrp a{
    display: block;
}
.about-section-block-2-cont-wrp{
    display: flex;
}
.about-section-block-2 p{
    font-family: "Gilroy-Regular";
    color: #444444;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
}
.about-section-block-2-cont-wrp li{
    max-width: 365px;
}
.about-section-block-2-cont-wrp li:last-child{
    margin-left: 100px;
}
.about-section-block-2 .about-section-block-2-cont-wrp{
    margin-top: 40px;
}
.about-section-block-2 .about-section-block-2-cont-wrp:first-child{
    margin-top: 0;
}
/*rewives*/
.reviews-section-wrp{
    margin-top: 117px;
    position: relative;
}
.reviews-section{
    max-width: 1298px;
    margin: 0 auto;
}
.reviews-section h3{
    font-family: "Bebas-Bold";
    color: #13171D;
    font-size: 56px;
    line-height: 56px;
}
.slider-reviews-item{
    position: relative;
    cursor: pointer;
}
.slider-caret-wrp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 151px;
    top: 125px;
    margin-top: -31px;
    margin-left: -31px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background: rgba(225, 225, 225, 0.5);
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
    outline: none;
}
.slider-caret-wrp div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    transition: 0.25s all;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(255, 107, 0, 0.13), 0px 10px 10px rgba(255, 107, 0, 0.05);
}
.slider-reviews-item:hover .slider-caret-wrp div{
    width: 72px;
    height: 72px;
}
.slider-reviews{
    display: flex;
}
/*slick*/
.slick-dots li button {
    outline: none;
    border: none;
    background: #9A9EA3;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    display: flex;
    padding: 3px;
    cursor: pointer;
}
.slick-dots .slick-active button{  
    background: #fff;
    border: 3px solid #E2001A;
    padding: 4px;
}
.slick-dots li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.slick-dots li:first-child{
    margin-left: 0;
}
.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.slick-arrow {
    font-size: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
    cursor: pointer;
    transition: 0.25s all;
}
.slick-arrow:first-child{
    margin-right: 16px;
}
.slick-arrow:hover{
    box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.36);
}
.arrows-reviews{
    display: flex;
    margin-right: 18px;
}
/*end slick*/
.reviews-section-heading-wrp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.reviews-dec-wrp{
    max-width: 1721px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -860px;
    display: flex;
    justify-content: space-between;
    bottom: 54px;
    align-items: end;
}
.reviews-dec-2{
    margin-bottom: 20px;
}
/*oorders*/
.orders-section-wrp{
    position: relative;
    padding-top: 80px;
    margin-top: 120px;
    background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}
.orders-section-dec{
    margin-left: 78px;
}
.orders-section-wrp h3{
    display: flex;
    align-items: center;
}
.orders-dec-wrp{
    max-width: 1300px;
    margin-left: -708px;
}
.reviews-dec-2-orders{
    margin-bottom: -136px;
}
/*arr*/
.arron-wrp h3{
    font-size: 80px;
    line-height: 80px;
    color: #13171D;
    font-family: "Bebas-Bold";
}
.arron-wrp p{
    font-size: 24px;
    line-height: 32px;
    color: #444444;
    font-family: "Montserrat-Regular";
    margin-top: 24px;
    margin-bottom: 24px;
}
.arron-wrp{
    max-width: 1298px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    position: relative;
}
.arron-wrp li{
    font-size: 18px;
    line-height: 24px;
    color: #444444;
    font-family: "Montserrat-Regular";
    margin-bottom: 18px;
    line-height: 24px;
}
.arron-wrp ul{
    margin-top: 40px
}
.arron-wrp li:before{
    content: '';
    display: inline-block;
    height:10px;
    width: 10px;
    vertical-align: middle;
    border-radius:50%;
    background-color:#E2001A;
    margin-right: 12px;
}
.arron-wrp-text{
    max-width: 390px;
    margin-right: 190px;
}
.aaron-dec{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -23px;
    right: -50px;
}
.arron-wrp-li{
    display: flex;
}
.consult-btn-wrp-adapt{
    display: none;
    width: 233px;
    height: 48px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 40px;
}
/*work*/
.work h5{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #13171D;
    max-width: 700px;
    margin: 0 auto;
    font-family: "Montserrat-SemiBold";

}
.cit-wrp img:last-child {
	position: absolute;
	right: 0;
	bottom: -20px;
}
.cit-wrp{
    position: relative;
    max-width: 740px;
    margin: 0 auto;
}
.work{
    margin-top: 47px;
    padding-top: 100px;
    background: linear-gradient(180deg, #EBF3F8 0%, rgba(235, 243, 248, 0) 100%);
}
.work-cont-wrp{
    max-width: 1298px;
    margin: 0 auto;
    margin-top: 56px;
}
.work-cont-wrp p{
    color: #646464;
    font-size: 18px;
    line-height: 24px;
    font-family: "Montserrat-Regular";
    margin-bottom: 24px;
}
.work-cont-wrp p:last-child{
    margin-bottom: 0;
}
.work-text-wrp{
    max-width: 470px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14%;
}
.work-text-wrp img{
    position: absolute;
    right: -80px;
    top: 70px;
}
.work-slide-wrp{
    position: relative;
    min-width: 0;
    min-height: 0;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}
.work-slide{
    max-width: 640px;
    min-width: 0;
    min-height: 0;
}
.work-slide-wrp .slick-arrow:first-child{
    top: 50%;
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    left: -40px;
    width: 80px;
    height: 80px;
}
.work-slide-wrp .slick-arrow:last-child{
    top: 50%;
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    right: -40px;
    width: 80px;
    height: 80px;
}
.work-dsc{
    position: absolute;
    bottom: -30px;
    right: 30px;
}
/*Bid*/
.bid-sec{
    max-width: 1300px;
    border: 1px solid #C7D1D7;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
}
.bid-sec h3{
    font-size: 48px;
    line-height: 48px;
    color: #13171D;
    font-family:"Bebas-Bold";
    max-width: 420px;
    margin-right: 140px;
}
.bid-sec h3 span{
    color: #E2001A;
}
.bid-sec input[type=text], .bid-sec input[type=tel]{
    padding-top: 19px;
    padding-left: 24px;
    padding-bottom: 19px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 15px;
    width: 524px;
    display: block;
    margin-bottom: 20px;
    font-family: "Montserrat-Regular";
    color: #646464;
}
.bid-sec input[type=text]:focus, .bid-sec input[type=tel]:focus{
    border: 1px solid #867E7E;
    color: #13171D;
}
.bid-sec input[type=submit]{
    cursor: pointer;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    padding: 18px 30px;
    color: #fff;
    font-family: "Montserrat-SemiBold";
    background-color: #E2001A;
    border-radius: 15px;
    transition: 0.25s all;
}
.bid-sec input[type=submit]:hover{
    background-color: #FC142F;
}
.bid-sale{
    position: absolute;
    top: -63px;
    left: 27px;
}
.adress {
    font-family: "Montserrat-Medium";
    color: #13171D;
    font-size: 20px;
    line-height: 24px;
    background: #FFFFFF;
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08);
    border-radius: 30px;
    margin-top: 120px;
    padding-top: 55px;
    padding-bottom: 55px;
    z-index: 2;
    position: relative;
}
.adress span{
    color: #B9BFC8;
}
.adress ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adress li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.adress li p{
    margin-left: 16px;
}
.adress li p a{
    color: #13171D;
}
iframe{
    width: 100%;
    margin-top: -82px;
    z-index: -1;
}

input:focus{
    border: none;
    outline: none;

}

.devices .adapt-devices{
    display: none;
}
.devices-cont-wrp-adapt{
    display: none;
}
.nav-phone-adapt{
    display: none;
}
.consult{
    border: none;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    width: 500px;
    height: 446px;  
    transition: 0.25s all;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -223px;
    margin-left: -250px;
    transition: 0.25s all;
    transform: translateX(2000px);
    padding: 0;
}
.consult h4{
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #13171D;
    font-family: "Bebas-Bold";
    margin-bottom: 40px;
}
.consult span{
    color: #E2001A;
}
.consult form{
    width: 90%;
}
.consult input{
    width: 100%;
}
.consult input[type="text"], .consult input[type="tel"]{
    width: 100%;
}
.close-wrp{
    display: flex;
    justify-content: end;
    margin: 0 auto;
    width: 90%;
    cursor: pointer;
}
.og{
    background: #13171D;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.25s all;
    display: none;
}
.op-back{
    opacity: 0.9;
    display: block;
    z-index: 10001;
}

.overlow{
    overflow-y: hidden;
}
.nav-phone li a{
    color: #13171D;
}
.succses{
    border: none;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    width: 500px;
    height: 446px;
    transition: 0.25s all;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -223px;
    margin-left: -250px;
    transition: 0.25s all;
    padding: 0;
    transform: translateX(2000px);
}
.succses h4{
    font-family:"Bebas-Bold";
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #13171D;
    margin-top: -35px;
}
.succses p{
    font-family:"Gilroy-Regular";
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    text-align: center;
}
.succses-img{
    margin: 0 auto;
    display: block;
    margin-top: 65px;
}
.succses .close-wrp{
    margin-top: 26px;
}
.opct{
    transform: translateX(0);
    z-index: 10002;
}
.slick-slide:active, .slick-slide:focus {
    outline: none;
}